<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="emp">
	<select id="total" resultType="mybatis.vo.EmpVO">
		SELECT empno, ename, position FROM emp_table
	</select>
	
	<insert id="add" parameterType="java.util.Map">
		INSERT INTO emp_table(empno, ename, position) VALUES(#{empno}, #{ename}, #{position})
	</insert>
	
	<delete id="delete" parameterType="java.util.Map">
		DELETE FROM emp_table WHERE empno = #{empno}
	</delete>
	
	<update id="update" parameterType="java.util.Map">
		UPDATE emp_table SET ename = #{ename}, position = #{position} WHERE empno = #{empno} 
	</update>
</mapper>