<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- web.xml 파일은 웹 서버에 의해 프로젝트가 실행될 때 가장 먼저 실행되는 설정 파일이다. -->
	<!-- 각 Controller 클래스에서 한글 깨짐 현상을 해결하는 방법 -->
	<filter>
		<filter-name>characterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>characterEncoding</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<!-- 리스너를 통한 서블릿 실행 전 사전 메모리에 로딩하기 위한 설정
		param 속성으로 경로 지정
		* 기본 경로 => WEB-INF
		* classpath:src/main/resources 위치
		
	 -->
	<context-param>
	 	<param-name>contextConfigLocation</param-name>
	 	<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	 
	<listener>
	 	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/presentation-layer.xml</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

</web-app>
